.title {
	text-align: center;
	margin-top: 100px;
}

.wrapper {
	text-align: center;

}

.start {
	position: absolute;
	top: 30%;


}

.background2 {
	background-repeat: no-repeat;
	background-size: cover;
}

#container1 {
	position: relative;
	padding-bottom: 300px;
}


#plane {
	display: block;
	position: relative;
}

#plane2 {
	display: block;
	margin-top: 100px;
	position: relative;
}
